
/* إعدادات عامة للصفحة */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* تنسيق الحاوية الرئيسية */
#quiz-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* تنسيق العنوان */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* تنسيق عرض الأسئلة */
#quiz {
    margin-bottom: 20px;
}

/* تنسيق الأزرار */
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.hidden {
    display: none;
}
